<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello PyCef React!</title>
  <script>
      (function() {
          var debug=Boolean(ENV["DEBUG"])
          if (debug) {
              const link = document.createElement('link');
              link.rel = 'stylesheet';
              link.href = './style.css';
              // HACK: Writing the script path should be done with webpack
              document.getElementsByTagName('head')[0].appendChild(link);
          }
      }());
  </script>
</head>
<body>
<div id="root"></div>
<script>
    {
        const scripts=[];
        var debug=Boolean(ENV["DEBUG"])
        var port=ENV["PORT"]
        //正式环境走renderer.prod.js
        if(!debug)
        {
            scripts.push("./renderer.prod.js")
        }
        else {
            scripts.push("http://localhost:"+port+'/dist/renderer.dev.js')
        }
        document.write(
            scripts
                .map(script => `<script defer src="${script}"><\/script>`)
                .join('')
        );
    }
</script>
</body>
</html>
